nav {
    background-color: rgb(36, 33, 33)
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline red !important;
    color: red
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}